@import "../../styles/globals";

.btn {
  min-width: 15rem;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 3rem;
  font-size: 1.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  border: none;
  border-radius: 10rem;
  appearance: none;
  cursor: pointer;

  &--base {
    color: $color-text-light;
    background-color: black;

    &:hover {
      color: black;
      background-color: white;
      border: 1px solid black;
    }
  }

  &--inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      color: $color-text-light;
      background-color: black;
      border: none;
    }
  }

  &--google-sign-in {
    color: $color-text-light;
    background-color: #4285f4;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
}
