.category {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  &__title {
    font-size: 3.8rem;
    text-transform: uppercase;
  }

  &__products {  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 3rem;
    row-gap: 8rem;

    @media only screen and (min-width: 420px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
  }
}