// COLORS
$color-primary: #1d1dda;
$color-secondary: rgb(216, 201, 32);
$color-tertiary:  #61210F;

$color-text-dark: #333;
$color-text-light: #eee;

$color-border: lightgray;

// FONTS
$default-font-size: 1.6rem; // 1.6x10=16px