
.category-item {
  min-width: 200px;
  height: 340px;
  border: 1px solid black;
  display: flex;
  align-items: center; // vertically aligned
  justify-content: center; // horizontally aligned
  flex: 1 1 30%; // the last 2 cards equally take up any free space 
  overflow: hidden;
  border-radius: 12px;
  border: none;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center; //horizontally aligned
    justify-content: center; // vertically aligned
    row-gap: 13px;
    padding: 0 25px;
    height: 90px;
    background-color: white;
    opacity: 0.7;
    position: absolute;
    border: 1px solid black;
    border-radius: 12px;


    &:hover {
      opacity: 0.9;
    }
  }

  &__title {
    font-size: 22px;
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    font-weight: lighter;
    color: #4a4a4a;
  }
}
