.category {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__title {
    font-size: 38px;
    text-transform: uppercase;
    align-self: center;
  }

  &__products {  
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 50px;

    @media only screen and (min-width: 420px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
  }
}