.category-preview {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;

  &__heading {
    color: black;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 5rem;

    @media only screen and (min-width: 420px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}