@import "../../styles/globals";

.product-card {
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.3rem;
  position: relative;
  transition: transform .3s;
  border-radius: .5rem;

  &__image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: .5rem;
  }

  &__button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 25.5rem;
  }

  &__info {
    padding: 0 .5rem;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    background-color: $color-white-bright;
    outline: 1rem solid $color-white-bright;
    box-shadow: 0 1.5rem 4rem #00000026;
  }
}