.sign-up-form {
  max-width: 50%;

  &__message {
    margin-bottom: 45px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
  }

  &__submit {
    margin-bottom: 45px;
  }
}