.sign-up-form {
  min-width: 25rem;
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;
  flex: 1 1 50%;

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 4.5rem;
  }
}