@import "../../../styles/globals";

.menu {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 50rem;
  max-height: 85vh;
  margin-top: -3rem;
  background-color: #f7f7f7;
  border: .2rem solid black;
  position: absolute;
  z-index: 1;
  animation: moveInLeft 0.7s ease-out;

  &__button {
    background: none;
    border: none;
    margin-left: auto;
    padding: 1.2rem;
    font-size: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    list-style-type: none;
  }

  &__item {
    color: $color-text-dark;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem;
    border-bottom: .1rem solid $color-border;

    &:first-child {
      border-top: .1rem solid $color-border;
    }
  }
}