.checkout {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid darkgrey;
  }

  &__block {
    text-transform: capitalize;
    width: 23%;

    &:last-child {
      width: 8%;
    }
  }

  &__items {
    margin-bottom: 3rem;
  }

  &__total {
    font-size: 3.6rem;
    margin-left: auto;
  }
}