@import "../../styles/globals";

.header {
  height: 6rem;
  z-index: 1;
  position: sticky;
  top: 0;
  margin-right: -15rem;
  margin-left: -15rem;
  border-block-end: .5px solid $color-primary;
  box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem; // this could be an utility class
  background-color: white;

  &__container {
    height: 100%;
    margin-right: 15rem;
    margin-left: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sidenav {
    min-width: 20rem;
    position: relative;
  }

  &__burger {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__logo-main {
    display: flex;
    column-gap: 1.3rem;
  }

  &__company-first {
    color: $color-primary;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    list-style-type: none;
  }

  &__link {
    color: $color-text-dark;
    text-decoration: none;
    text-transform: uppercase;
  }
}