@import "../../styles/globals";

$input-default-color: grey;
$input-focus-color: black;

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    color: $input-default-color;
    font-size: $default-font-size;
    font-weight: normal;
    position: absolute;
    left: .5rem; 
    transition: .3s ease all;

    &.move {
      @include moveLabel();
    }
  }

  &__field {
    font-size: 1.8rem;
    color: $input-default-color;
    border: none;
    border-bottom: .1rem solid $input-default-color; 
    background-color: white;
    margin: 1rem 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input__label { //next sibling with this class
      @include moveLabel();
    }
  }

  input[type="password"] {
    letter-spacing: .3em;
  }
}