$input-default-color: grey;
$input-focus-color: black;

@mixin moveLabel {
  top: -13px;
  font-size: 12px;;
  color: $input-focus-color;
}

.form-input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    color: $input-default-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    left: 5px; 
    transition: 0.3s ease all;

    &.move {
      @include moveLabel();
    }
  }

  &__field {
    font-size: 18px;
    color: $input-default-color;
    border: none;
    border-bottom: 1px solid $input-default-color; 
    background-color: white;
    margin: 10px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input__label { //next sibling with this class
      @include moveLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }
}