.cart-item  {
  display: flex;
  height: 8rem;
  column-gap: 2rem;

  &__image {
    width: 30%;
    height: 8rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}